name: Compile blueprint

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build blueprint
    steps:
      - name: Cleanup to free disk space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
        with:
          tool-cache: false
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0

      - name: Set up GitHub Pages
        uses: actions/configure-pages@v5

      - name: Build and lint project
        uses: leanprover/lean-action@434f25c2f80ded67bba02502ad3a86f25db50709
        with:
          build: true
          mk_all-check: true

      - name: Compile blueprint
        uses: leanprover-community/docgen-action@deed0cdc44dd8e5de07a300773eb751d33e32fc8
        with:
          blueprint: true

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: blueprint/web

  deploy:
    needs: build
    runs-on: ubuntu-latest
    name: Deploy GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
