name: Lean CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Lean project
    steps:
      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Build project
        uses: leanprover/lean-action@434f25c2f80ded67bba02502ad3a86f25db50709
        with:
          build: true
          mk_all-check: true
